// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$font-size-root: 1rem;
$font-size-book-title: 0.8rem;
$font-size-book-author: 0.6rem;
$font-color: #213547;
$font-color-error: #F06292;
$card-text-padding: 10px;